.middle-background
{
    position: absolute;
    width: 1100px;
    height: 1169px;
    right: 0px;
    top: -26px;
    background: #737FED;
}

.options
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 26px;
    position: absolute;
    width: 620px;
    height: 146px;
    left: 100px;
    top: 0px;
    mix-blend-mode: normal;
}


.menu
{
    width: 220px;
    height: 126px;
    top: 100px;
    font-family: 'Actor';
    font-style: italic bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

.menu:hover
{
    color: #737FED;
    cursor: pointer;
    text-decoration: underline;
}

.title
{
    position: absolute;
    width: 476px;
    height: 204px;
    left: 152px;
    top: 213px;

    font-family: 'Alatsi';
    font-style: normal;
    font-weight: 400;
    font-size: 63px;
    line-height: 68px;

    color: #010101;
}


.simple-calculator
{
    position: absolute;
    width: 519px;
    height: 772px;
    left: 1475px;
    top: 273px; 
    border-radius: 3px;
    background-color: gray;
    border-radius: 25px;
    border-color: black;
}

.data
{
    flex-direction:column;
    align-items: center;
    padding: 55px;
    position: absolute;
    top: 250px;
    border-radius: 4px 4px 0px 0px;
}

.data input
{
    width: 412px;
    height: 66px;
    left: 50px;
    text-align: center;
    resize: none;
    margin-bottom: 25px;
    border-radius: 8px;

    font-size: x-large;
}

.data-amount
{
    top: 447px; 
}

.data-interest
{
    top: 131px;
}

.data-year
{
    top: 219px;
}

.container-buttons button
{
    margin-top: 25px;
    font-size: large;
    position: absolute;
    flex-direction: row;
    height: 74px;
    top: 630px;
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
}

.calculate
{
    width: 206px;
    left: 50px;
}

.calculate:hover
{
    color: aliceblue;
    background-color: #000;
}

.clean
{
    width: 200px;
    left: 278px;
}

.clean:hover
{
    color: aliceblue;
    background-color: #737FED;
}

.title-calculator
{
    position: absolute;
    width: 285px;
    height: 135px;
    left: 10px;
    top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800px;
    font-size: 30px;
    line-height: 45px;
    text-decoration: underline;
}

.data-result
{
    position: absolute;
    width: 412px;
    height: 138px;
    left: 50px;
    top: 100px;
    background: #fff;
    border-radius: 8px;
    resize: none;
    font-size: 40px;
    text-align: center;
}


i
{
    width: 10px;
    height: 10px;
}

#money
{
    color: greenyellow;
}

#percen
{
    color: lightblue;
}

#calendar
{
    color: coral;
}


.info_simple
{
    position: absolute;
    width: 785px;
    height: 102px;
    left: 146px;
    top: 330px;

    font-family: 'Actor';
    font-style: normal;
    font-weight: 700px;
    font-size: 30px;
    line-height: 37px;
    color: #010101;
}

ul
{
    position: absolute;
    width: 785px;
    height: 102px;
    left: 146px;
    top: 1000px;

    font-family: 'Actor';
    font-style: normal;
    font-weight: 700px;
    font-size: 30px;
    line-height: 27px;
    color: #010101;
}

.formula
{
    position: absolute;
    width: 785px;
    height: 102px;
    left: 146px;
    top: 550px;

    font-family: 'Actor';
    font-style: normal;
    font-weight: 700px;
    font-size: 30px;
    line-height: 27px;
    color: #010101;
}

.formula-interes
{
    position: absolute;
    height: 350px;
    width: 250px;
    left: 250px;
}

.formula-interes:hover
{
    opacity: 1 !important;
    transform: scale(1.0);
    height: 350px;
    width: 450px;
}
